*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    --shadow: 0px 0px px black;

    --textfont: "Syne", sans-serif;

    --bgcolor: #3d3d3d;
    --bgcolorclean: #303030;

    --indexcolor: rgba(0, 66, 189, 0.667);

    --textcolor: white;

}

body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    width: 100dvw;
    height: 100dvh;
    padding: 2rem;

    background-color: var(--bgcolor);
}