main{
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--shadow);
    height: 80%;
    width: 60%;

    background-color: var(--bgcolorclean);

    & #secmain {
        color: white;
        font-family: var(--textfont);

        & div{
            padding: 1rem;

            & div{

                border-radius: 2rem;
                padding: 1rem;
                background-color: var(--bgcolor);
                
                min-height: 5%;
                min-width: 20%;
                max-width: 40%;
                
            }
        }
    }

}

.usersend{
    display: flex;
    justify-content: flex-end;

}
